body {
  background-color: #f2f2f2;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Roboto', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  text-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #424242;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #424242;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
}

.h6 {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
}

.text-muted {
  color: #999 !important;
}

button, input, select {
  outline: none !important;
}

a {
  outline: none !important;
  &:hover, &:focus {
    text-decoration: none;
}
}

.no-animate {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}