.noui-connect .connect {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #80C9F5;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
}

.noui-number, .noui-select {
  padding: 7px;
  margin: 15px 5px 5px 5px;
  width: 70px;
}