.login-page {
  background-color: #03A9F4;
  padding-left: 0;
  max-width: 360px;
  margin: 5% auto;
  overflow-x: hidden;
  .login-box {
    a {
      font-size: 13px;
      text-decoration: none;
      color: #777;
    }
    .msg {
      color: #999;
      letter-spacing: 1px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.login-logo {
  text-align: center;
  img {
    margin: 0 auto;
  }
  p {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 500;
  }
}