.topnavbar {
  -webkit-backface-visibility: hidden;
  margin-bottom: 0;
  border-radius: 0;
  min-height: 65px;
  background-color: #fff;
  z-index: 999;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;

  .navbar-header {
    background-color: #23b7e5;
    position: relative;
    z-index: 11;

    .brand-logo-collapsed > img {
      margin: 0 auto;
    }

    .brand-logo {

      > img {
        margin: 0 auto;
      }

      display: block;
      padding: 10px 15px;
    }

    .brand-logo-collapsed {
      display: none;
      padding: 10px 14px;
    }

    .navbar-brand {
      padding: 0;
    }
  }

  .navbar-nav > {

    li > a {
      padding-top: 20px;
      padding-bottom: 16px;
      line-height: 20px;
    }

    .open > a {
      color: #23b7e5;
    }

    li > {
      .navbar-text, a {
        color: #23b7e5;
      }
    }

    .open > a {
      &:focus, &:hover {
        color: #117391;
      }
    }

    li > a {
      &:focus, &:hover {
        color: #117391;
      }
    }

    .active > a {
      background-color: transparent;

      &:focus, &:hover {
        background-color: transparent;
      }
    }

    .open > a {
      background-color: transparent;

      &:focus, &:hover {
        background-color: transparent;
      }
    }

    li > [data-toggle=navbar-search] {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 20;
      font-size: 16px;
      line-height: 55px;
      color: #fff;
      padding-top: 0;
      padding-bottom: 0;
      -webkit-transition: color .3s ease;
      transition: color 0.3s ease;
    }
  }
}

.nav-wrapper {
  padding: 0 15px;
  background-color: transparent;

  .nav {
    &.navbar-nav {
      float: left;

      &.navbar-right {
        float: right;
      }
    }

    > li {
      position: static;
      float: left;
    }
  }

  .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
}

.topnavbar .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 66px;
  z-index: 9001;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 0;
  border-bottom: 1px solid #e1e2e3;

  .form-group {
    height: 100%;
    width: 100%;
  }
  .form-control {
    height: 100%;
    border: 0;
    border-radius: 0;
    width: 100%;
  }
  &.open {
    top: 0;
  }
  .has-feedback .form-control-feedback {
    height: 30px;
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    margin-right: 10px;
    color: #c1c2c3;
    font-size: 1.5em;
    pointer-events: auto;
  }
}