.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;

  &.ng-leave {
    display: none;
  }
  > .aside {
    position: absolute;
    width: 260px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 116;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;

    .aside-inner {
      padding-top: 148px;
      height: 100%;
      width: 260px;
      overflow: hidden;
      @include box-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
    }

    > .nav-floating {
      left: inherit;
      margin-left: 220px;
      z-index: 1110;
      min-width: 200px;
      overflow: auto;
      @include box-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
    }
  }

  .dropdown-backdrop {
    z-index: 109;
  }

  > footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 109;

    > p {
      margin: 0;
    }
  }
}

.content-wrapper {
  margin-bottom: 30px;
  padding: 15px;
  width: 100%;
  @include transition(0.5s);

  .container, .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper > {
  .aside {
    -webkit-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1), translate 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1), translate 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  }
  section {
    -webkit-transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  }
}